apiVersion: v1
kind: Service
metadata:
  name: forohtoo-worker-metrics
  labels:
    app: forohtoo-worker
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "9000"
    prometheus.io/path: "/metrics"
spec:
  selector:
    app: forohtoo-worker
  ports:
  - name: metrics
    port: 9000
    targetPort: 9000
    protocol: TCP
  type: ClusterIP
